body{
	background-image:url("./../image/zonebbs/beijing.jpg");
	background-repeat:repeat-x;
}
a{
   text-decoration:none;
	color:#626C76;
}
#header,#content{
	margin:0 auto;
}
/*头区*/
#header{
	height:105px;
	width:960px;
	/*border:1px solid #ccc;*/
}
/*头一区*/
#header>div:first-of-type{
	width:100%;
	height:30px;
	background:#B6DFFB;
	border-bottom:1px solid #CEFEFF;
	font-size:13px;
	border-radius:4px;
}
#header>div:first-of-type a{
	margin:5px;
}
 /*头一区左边浮动*/
#header>div:first-of-type>div:first-of-type>img{
	 float:left;
	 margin:5px;
/*	  border:1px solid #fcd;*/
}
#header>div:first-of-type>div:first-of-type{
	float:left;
	line-height:35px;
	height:29px;
	/* border:1px solid #fcd;*/

}
 /*头一区右边浮动*/
#header>div:first-of-type>div:last-of-type{
	float:right;
	margin:5px 10px;
	/* border:1px solid #fcd;*/
}
/*头二区*/
#header>div:last-of-type{
      margin-top:20px; 
	 width:960px;
	 /*border:1px solid #fcd; */
}
/*头二区左边*/
#header>div:last-of-type>div:first-of-type{
	float:left;
	margin-left:20px;
}
/*头二区右边*/
#header>div:last-of-type>div:last-of-type{
	float:right;
	margin:10px;

}
/*内容部分*/
#content{  
	width:960px;
	height:auto;
	/*border:1px solid #fcd;*/
}
/*第一部分*/
#content>div:first-of-type{
   float:left;
   width:85px;
   height:400px;
   margin-top:35px;
   background:#C0DFD0;
   font-size:14px;
   opacity:0.5;
   border-radius:10px 0px 0px 10px;
   border:1px solid #B6CCBF;
}
#content>div:first-of-type a{
	/*width:40px;*/
	color:#48777F;
	height:23px;
	margin:10px 0px 0px 15px;
	display:block;
}
#content>div:first-of-type a:hover{
	background:#3D85CF;
	color:#fff;
	opacity:0.7;
}
/*第二部分*/
#content>div:nth-of-type(2){
   float:left;
   width:630px;
   height:1115px;
   background:#FFF;
   border-radius:2px;
  /* border:1px solid #cfd;*/
}
/*发表话题*/
#content>div:nth-of-type(2)>div:first-of-type{
	height:100px;
	margin:20px;
	/*border:1px solid #fdc;*/
}
#content>div:nth-of-type(2)>div:first-of-type>div:first-of-type{
     width:100px;
     height:100px;
     float:left;
    /* border:1px solid #fcc;*/
}
#content>div:nth-of-type(2)>div:first-of-type>form{
	font-size:15px;
	float:left;
    width:475px;
    height:105px;
    /*border:1px solid red;*/
}
#content>div:nth-of-type(2)>div:first-of-type>form textarea{
	border-color:#BAC3C8;
	border-radius:4px;
	opacity:0.9;
	resize:none;
}
#content>div:nth-of-type(2)>div:first-of-type>form button{
	margin-top:5px;
	background:#3A82CC;
	float:right;
	width:70px;
    height:25px;
    border:1px;
}
/*提示框*/
#content>div:nth-of-type(2)>div:nth-of-type(2){
	background:#FFFFE5;
	font-size:12px;
	line-height:30px;
	padding-left:10px;
	height:30px;
	width:570px;
	margin:10px auto;
	border:1px solid #EEE8D0;
}
#content>div:nth-of-type(2)>div:nth-of-type(2)>a{
	position:relative;
    font-weight:bold;
    font-size:13px;
	left:33px;
}
 /*导航*/
 #content>div:nth-of-type(2)>div:nth-of-type(3){
 	width:590px;
 	height:27px;
 	margin-left:20px;
 	border-bottom:1px solid #D6DFE6;
 }
 #content>div:nth-of-type(2)>div:nth-of-type(3) a{
 	float:left;
 	display:block;
 	line-height:25px;
 	width:68px;
 	margin-right:10px;
 	text-align:center;
 	font-size:14px;
 	/*border:1px solid #fce;*/
 } 
 #content>div:nth-of-type(2)>div:nth-of-type(3) a:hover{
 	border:1px solid #D6DFE6;
 	border-bottom:2px solid #fff;
 }
 #content>div:nth-of-type(2)>div:nth-of-type(3)>div:last-of-type{
 	float:right;
 }
 #content>div:nth-of-type(2)>div:nth-of-type(3)>div:last-of-type img{
 	margin-right:8px;
 }
/*hang行*/
.hang{
	margin:0 auto;
	width:590px;
	height:115px;
	font-size:14px;
	border-bottom:1px dashed #B5B5B5;
}
.hang>div:first-of-type{
	float:left;
	margin:15px;
/*	border:1px solid #fed;*/
}
.hang>div:nth-of-type(2){
   float:left;
   margin-top:10px;
   line-height:32px;
   width:500px;
   height:60px;
   /*border:1px solid #fcd;*/
}
.hang>div:nth-of-type(2)>span{
	display:block;
	color:#616161;
}
.hang>div:nth-of-type(2)>div:first-of-type{
	height:35px;
	width:500px;
	margin-top:5px;
	/*border:1px solid #fec;*/
}
.hang>div:nth-of-type(2)>div:first-of-type>span{
	font-size:13px;
	color:#A4A4A4;
}
.hang>div:nth-of-type(2)>div:first-of-type a{
	margin-right:3px;
	float:right;
	color:#357493;
}

/*右边第三部分*/
#content>div:last-of-type{
	float:right;
	width:242px;
	height:100%;
	background:#E9F4FA;
	border-radius:2px;
	border-right:1px solid #BFBEC3;
	opacity:0.9;
}
/*个人中心*/
#content>div:last-of-type>div:first-of-type{
	height:200px;
	width:100%;
	/*border:1px solid #fcd;*/
}
#content>div:last-of-type>div:first-of-type>span{
    /*border:1px solid #fcd;*/
	display:block;
	color:#1F2324;
	font-size:18px;
	margin:15px 0px 10px 5px;
	font-weight:bold;
}
#content>div:last-of-type>div:first-of-type>div:first-of-type{
	/*border:1px solid #fdc;*/
	width:200px;
	margin:0 auto;
}
#content>div:last-of-type>div:first-of-type>div:first-of-type>span{
	display:block;
	text-align:center;
	line-height:25px;
	border-right:1px solid #E0EBF1;
	height:50px;
	width:30%;
	font-size:14px;
	float:left;
}
#content>div:last-of-type>div:first-of-type>div:first-of-type>span>a:first-of-type{
	font-size:20px;
	font-weight:bold;
	color:#296D9A;
}
#content>div:last-of-type>div:first-of-type>div:nth-of-type(2){
	margin:10px;
	float:left;
/*	border:1px solid #fdc;*/
}
/*粮票每日打卡*/
#content>div:last-of-type>div:first-of-type>div:nth-of-type(3){
	float:left;
	width:90%;
	margin:5px 10px 0px 10px;
	line-height:28px;
	font-size:13px;
	/*border:1px solid #fdc;*/
}
#content>div:last-of-type>div:first-of-type>div:nth-of-type(3)>div{
	float:left;
	width:100px;
	/*border:1px solid #fdd;*/
}
#content>div:last-of-type>div:first-of-type>div:nth-of-type(3)>span{
	display:block;
	width:100px;
	/*border:1px solid #fdf;*/
}
#content>div:last-of-type>div:first-of-type>div:nth-of-type(3)>button{
	float:right;
	width:75px;
	height:30px;
	background:#FF8D00;
	position:relative;
	color:#fff;
	top:20px;
	/*border:1px solid #B27B3B;*/
}
/*账号通*/
#content>div:last-of-type>div:nth-of-type(2){
	height:60px;
	margin:0 auto;
	width:90%;
	font-size:12px;
	line-height:38px;
	text-align:center;
	border-radius:5px;
	background:#fff;
	color:#265E83;
	border:1px solid #DADFE3;

}
#content>div:last-of-type>div:nth-of-type(2) img{
	position:relative;
	left:-80px;
	top:-6px;

}
/*热门话题*/
#content>div:last-of-type>div:nth-of-type(3){
	width:100%;
	margin:18px auto;
	/*border:1px solid #ffd;*/
}
#content>div:last-of-type>div:nth-of-type(3)>span{
	display:block;
	font-size:18px;
	font-weight:bold;
	color:#5C6063;
}
#content>div:last-of-type>div:nth-of-type(3)>input{
	margin-top:20px;
	margin-left:3px;
}
/*可申请任务*/
#content>div:last-of-type>div:nth-of-type(4){
	width:100%;
	margin:20px auto;
     height:50px;
	/*border:1px solid red;*/
}
#content>div:last-of-type>div:nth-of-type(4)>div:first-of-type> span{
	display:block;
	font-size:18px;
	font-weight:bold;
	float:left;
	width:100px;
	/*border:1px solid #fcd;*/
	color:#5C6063;
}
#content>div:last-of-type>div:nth-of-type(4)>div:first-of-type>a{
	display:block;
	float:right;
	font-size:14px;
	color:#7BA8C7;
	/*border:1px solid #fcd;*/
}
#content>div:last-of-type>div:nth-of-type(4)>div:last-of-type{
	width:100%;
	height:30px;
	float:left;
	margin-top:5px;
	line-height:30px;
	/*border:1px solid #fcd;*/
}
#content>div:last-of-type>div:nth-of-type(4)>div:last-of-type>span:first-of-type{
	float:left;
	font-size:14px;
	color:#175882;
}
#content>div:last-of-type>div:nth-of-type(4)>div:last-of-type>span:last-of-type{
   float:right;
}
/*个人标签*/
#content>div:last-of-type>div:nth-of-type(5){
	width:100%;
	margin:20px auto;
     height:50px;
	/*border:1px solid red;*/
}
#content>div:last-of-type>div:nth-of-type(5)>div:first-of-type> span{
	display:block;
	font-size:18px;
	font-weight:bold;
	float:left;
	width:100px;
	/*border:1px solid #fcd;*/
	color:#5C6063;
}
#content>div:last-of-type>div:nth-of-type(5)>div:first-of-type>a{
	display:block;
	float:right;
	font-size:14px;
	color:#7BA8C7;
	/*border:1px solid #fcd;*/
}
#content>div:last-of-type>div:nth-of-type(5)>span{
	display:block;
	float:left;
	margin-top:10px;
	font-size:14px;
	color:#717A81;
     /*border:1px solid #fec;*/
}
/*最近访客*/
#content>div:last-of-type>div:nth-of-type(6){
	width:100%;
	margin:35px auto;
     height:100px;
	/*border:1px solid red;*/
}
#content>div:last-of-type>div:nth-of-type(6)>div:first-of-type> span{
	display:block;
	font-size:18px;
	font-weight:bold;
	float:left;
	width:100px;
	/*border:1px solid #fcd;*/
	color:#5C6063;
}
#content>div:last-of-type>div:nth-of-type(6)>div:first-of-type>a{
	display:block;
	float:right;
	font-size:14px;
	color:#979FA2;
	/*border:1px solid #fcd;*/
}
#content>div:last-of-type>div:nth-of-type(6)>div:nth-of-type(2){
	float:left;
	width:100%;
	/*border:1px solid #cfc;*/
}
#content>div:last-of-type>div:nth-of-type(6)>div:nth-of-type(2)>span{
	display:block;
	float:left;
	margin-top:10px;
	width:60px;
	height:50px;
	/*border:1px solid #fcd;*/
}
/*可能感兴趣的人*/
#content>div:last-of-type>div:nth-of-type(7){
	width:100%;
	margin:35px auto;
     /*height:300px;*/
	/*border:1px solid red;*/
}
#content>div:last-of-type>div:nth-of-type(7)>div:first-of-type> span{
	display:block;
	font-size:18px;
	font-weight:bold;
	float:left;
	width:150px;
	/*border:1px solid #fcd;*/
	color:#5C6063;
}
#content>div:last-of-type>div:nth-of-type(7)>div:first-of-type>a{
	display:block;
	float:right;
	font-size:14px;
	color:#979FA2;
	/*border:1px solid #fcd;*/
}
#content>div:last-of-type>div:nth-of-type(7)>div:first-of-type>a{
	display:block;
	float:right;
	font-size:14px;
	color:#7BA8C7;
	/*border:1px solid #fcd;*/
}
.u{
	margin-top:25px;
	width:200px;
	/*height:70px;*/
	/*border:1px solid #fcd;*/
	font-size:13px;
}
.u>img{
	margin:20px 10px 0px 20px;
	float:left;
}
.u>div{
	float:left;
	margin-top:10px;
	/*border:1px solid #fcd;*/
}
.u>div>span{
	display:block;
	width:120px;
	line-height:20px;
}
.u>div>span:first-of-type{
	font-size:15px;
	font-weight:bold;
	color:#0264AB;
}
#content>div:last-of-type>div:nth-of-type(7)>div:last-of-type{
	 margin-top:20px;
	 float:left;
}
/*好友生日*/
#content>div:last-of-type>div:nth-of-type(8){
	width:90%;
	margin:25px auto;
/*     height:100px;*/
	/*border:1px solid red;*/
}
#content>div:last-of-type>div:nth-of-type(8)>div:first-of-type>span{
	display:block;
	font-size:18px;
	font-weight:bold;
     margin:15px;
	float:left;
	width:100px;
	/*border:1px solid #fcd;*/
	color:#5C6063;
}
#content>div:last-of-type>div:nth-of-type(8)>div:last-of-type{
	float:left;
	height:80px;
	font-size:14px;
}
/*尾部*/
#footer{
   height:200px;
   width:840px;
    margin:20px auto;
   text-align:center;
   font-size:13px;
   color:#646560;
}
#footer div{
	margin-bottom:10px;
}
#footer a{
	text-decoration:none;
	 color:#444450;
	 font-size:14px;
	 margin:3px;
}
#footer span{
	 color:#444450;
}
